<%= error_messages_for @company %>

<div class="box tabular">
  <p><%= f.text_field :name, :required => true, :size => 60 %></p>
  <p><%= f.text_field :mail, :required => false %></p>

  <% @company.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :company, value %></p>
  <% end %>
</div>
